.speech{
    color: black;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;size: 1.5em;
}
.stage-direction{
color: black;font-family: Georgia, 'Times New Roman', Times, serif;background-color: aquamarine;size: 1.8em;
}
.name{
color: black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;size: 1.4em;
}
.stage-direction:hover{
    color: red;background-color: tan;
}
.hester{
    color: yellowgreen;
}
.lady_caroline{
    color: violet;
}
.sir_john{
color: sienna;
}
.table, th, td {
    border: 1px solid red;color: rgb(67, 67, 179);text-align: center;padding: 01em;margin: 0em;
  }
  tr:nth-child(even) {background-color: #b38d8d;}
  .name:hover{ text-shadow: 1px 1px red;filter: blur(1px);}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #b38d8d;
    color: black;
  }

  li a:hover{
    background-color: black;
    color: white;
  }